/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body,
html {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
.app-body > .mobile {
  position: absolute;
  top: 4vh;
  min-height: 96vh;
  background-color: inherit;
  .sidebar {
    position: relative;
    left: 0;
    width: 100vw;
  }
  .sidemenu {
    position: relative;
    left: 36vw;
    width: 62vw;
  }
}
.app-body > .notmobile {
  top: 0vh;
  min-height: 85vh;
  padding-bottom: 15vh;
  .sidebar {
    position: relative;
    left: 5vw;
    width: 93vw;
  }
  .sidemenu {
    position: relative;
    left: 36vw;
    width: 62vw;
  }
}
.dark {
  fill: #ebebeb;
  background-color: #1a1818;
  color: #ebebeb;
  a {
    color: rgb(255, 250, 219);
    text-transform: capitalize;
    svg {
      fill: white;
    }
  }
  a:hover {
    color: rgb(248, 200, 137);
  }
  a:visited {
    color: rgb(210, 253, 255);
  }
  .card, .door, .share {
    background-color: #ebebeb;
    color: #1a1818;
    border-radius: 0.3rem;
    a {
      color: #1a1818;
      text-decoration: none;
      svg {
        fill: 1a1818;
      }
    }
    a:hover {
      color: #1a1818;
    }
    a:visited {
      color: #1a1818;
    }
  }
}
.light {
  fill: #1a1818;
  background-color: #ffffff;
  color: #1a1818;
  a {
    color: rgb(105, 102, 72);
    text-transform: capitalize;
  }
  a:hover {
    color: rgb(80, 61, 34);
  }
  a:visited {
    color: rgb(48, 84, 87);
  }
  .card, .door, .share {
    background-color: #ffffff;
    color: #1a1818;
    border-radius: 0.3rem;
    a {
      color: #1a1818;
      text-decoration: none;
    }
    a:hover {
      color: #1a1818;
    }
    a:visited {
      color: #1a1818;
    }
  }
}
.pointer {
  cursor: pointer;
}

.notmobile {
  .cards {
    max-width: 50vw;
  }
}
.mobile {
  .cards {
    max-width: 80vw;
  }
}

.mat-grid {
  top: 15vh;
  position: relative;
  display: grid;
  grid-template-areas:
    'hint'
    'cards';
}

.door-grid {
  top: 10vh;
  position: relative;
  display: grid;
  grid-template-areas:
    'hint'
    'cards';
}

.dcs-grid {
  top: 10vh;
  position: relative;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    'hint hint hint'
    'door cards cards'
    'door cards cards';
}

.share-grid {
  top: 10vh;
  position: relative;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    'hint hint hint'
    'door cards cards'
    'door share share';
}

.hint {
  grid-area: hint;
  justify-self: center;
}

.share {
  grid-area: share;
  .card-content {
    padding: 0 0.5rem;
    font-size: larger;
    .title {
      display: grid;
      justify-items: left;
    }
  }
}

.door {
  grid-area: door;
  overflow: hidden;
  .card-image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .card-content {
    font-size: larger;
    .title {
      display: grid;
      justify-items: center;
    }
  }
}
.cards {
  grid-area: cards;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  .card {
    overflow: hidden;
    width: 100%;
    .card-image {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .card-content {
      font-size: larger;
      .title {
        display: grid;
        justify-items: center;
      }
    }
  }
}
