/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body, html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
.dark {
    fill:#EBEBEB;
    background-color: #1A1818;
    color: #EBEBEB;
}
.light {
    fill:#1A1818;
    background-color: #FFFFFF;
    color: #1A1818;
}
.pointer {
    cursor: pointer;
}
