<div class="share-grid">
    <p class="hint">Share or save your pick
    </p>
    <nc-sdoor class="door" [card]="(door$ | async)"></nc-sdoor>
    <div class="items">
        <nc-scolor *ngIf="(color$ | async) as color" class="card" [card]="color"></nc-scolor>
        <nc-scolor *ngIf="(stain$ | async) as stain" class="card" [card]="stain"></nc-scolor>
    </div>
    <nc-share-card [door]="(door$ | async)" [color]="(color$ | async)" [stain]="(stain$ | async)" class="share"></nc-share-card>
</div>